In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd 

corpus = [
     'This is the first document.',
     'This document is the second document.',
     'And this is the third one.',
     'Is this the first document?',
 ]

In [20]:
#위의 문장에 대하여 TF-IDF분석을 하기 위한 모델을 만들고 단어를 추출하세요(필터링 함수는 따로 없음))

In [21]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
words = vectorizer.get_feature_names()
print(words)

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']

In [24]:
#위에서 추출한 단어를 기반으로 하여 TF-IDF 점수를 행렬형태로 나타내시오.

In [25]:
pd.DataFrame(X.toarray(), columns=words)

,and,document,first,is,one,second,the,third,this
0,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085
1,0.000000,0.687624,0.000000,0.281089,0.000000,0.538648,0.281089,0.000000,0.281089
2,0.511849,0.000000,0.000000,0.267104,0.511849,0.000000,0.267104,0.511849,0.267104
3,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085

In [ ]:
#같은 방법으로 빈도수분포를 하기 위한 모델을 만들고 단어를 추출하세요(필터링 함수는 따로 없음)

In [27]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(corpus)
words = vectorizer.get_feature_names()
print(words)

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']

In [28]:
#위에서 추출한 단어를 기반으로 하여 빈도수 점수를 행렬형태로 나타내시오.

In [29]:
pd.DataFrame(X.toarray(), columns=words)

   and  document  first  is  one  second  the  third  this
0    0         1      1   1    0       0    1      0     1
1    0         2      0   1    0       1    1      0     1
2    1         0      0   1    1       0    1      1     1
3    0         1      1   1    0       0    1      0     1